/* General Styles */
.background {
  position: absolute;
  top: 0;
  left: 0;
  height: 5050px;
  width: 99vw;
  background-color: rgb(0, 0, 0);
  background-position: center;
}

.line {
  position: fixed;
  top: 85px;
  left: 1vw;
  width: 97vw;
  height: 2px;
  background-color: rgb(147, 149, 152);
}

.name,
.insta,
.behance,
.aboutme,
.godfather,
.tyson,
.self-portrait,
.roman,
.boots,
.eye,
.engine,
.fruits,
.bubbles,
.flowers {
  position: absolute;
}

/* Navigation and Social Media Icons */
.name,
.insta,
.behance {
  width: 350px;
  height: 80px;
  background-repeat: no-repeat;
  background-size: cover;
}

.insta {
  top: 15px;
  right: -40px;
  width: 350px;
  height: 40px;
}

.behance {
  top: 50px;
  right: -59px;
  width: 350px;
  height: 22.5px;
}

/* Hover Effects */
.insta:hover,
.behance:hover,
.godfather:hover,
.tyson:hover,
.self-portrait:hover,
.roman:hover,
.boots:hover,
.eye:hover,
.engine:hover,
.fruits:hover,
.bubbles:hover,
.flowers:hover {
  transform: scale(1.05);
  opacity: 90%;
  transition: transform 0.25s, opacity 0.25s;
}

/* Clickable Elements */
.click,
.click2,
.click3,
.click4,
.click5,
.click6,
.click7,
.click8,
.click9,
.click10 {
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 0.5s;
}

/* Responsive Styles */
@media (max-width: 600px) {
  /* Background */
  .background {
    height: 3475px;
    width: 100vw;
  }

  /* Navigation */
  .name,
  .insta,
  .behance {
    width: 365px;
    height: 80px;
    background-size: cover;
  }

  .insta {
    top: 45px;
    left: 12px;
    width: 215px;
    height: 40px;
  }

  .behance {
    top: 55px;
    left: 209px;
    width: 150px;
    height: 22.5px;
  }

  /* About Me */
  .aboutme {
    top: 52.5px;
    left: 5vw;
    height: 250px;
    width: 337.5px;
    background-size: contain;
  }

  /* Hover Effects */
  .active,
  .active2,
  .active3,
  .active4,
  .active5,
  .active6,
  .active7,
  .active8,
  .active9,
  .active10 {
    transform: scaleY(0.75) scaleX(0.75) translateY(-50px);
  }
}
