.backgroundimg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url(sleepyhallow.gif);
  background-size: cover;
  background-position: center;
}


.albumcover {
  position: absolute;
  top: 14vh;
  left: 12vw;
  width: 75vw;
  height: 75vh;
  background-image: url(stillsleep.jpg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.sleepyoutline {
  position: absolute;
  top: 5.3vh;
  left: 12.5vw;
  font-size: 2.53vw;
  font-family: 'Luckiest Guy', cursive;
  color: black;
}

.sleepy {
  position: absolute;
  top: 5vh;
  left: 13vw;
  font-size: 2.5vw;
  font-family: 'Luckiest Guy', cursive;
  color: white;
}

.touroutline {
  position: absolute;
  top: 80.3vh;
  left: 26.5vw;
  font-size: 2.8vw;
  font-family: 'Luckiest Guy', cursive;
  color: black;
}


.tour {
  position: absolute;
  top: 80vh;
  left: 27vw;
  font-size: 2.75vw;
  font-family: 'Luckiest Guy', cursive;
  color: white;
}

.date {
  position: absolute;
  top: 41.5vh;
  left: 3.5vw;
  font-size: 2vw;
  font-family: 'Candal', sans-serif;
  color: white;
}

.location {
  position: absolute;
  top: 40vh;
  left: 71vw;
  font-size: 1.75vw;
  font-family: 'Candal', sans-serif;
  color: white;
}

.RL {
  position: absolute;
  top: 5vh;
  left: 40vw;
  font-size: 1.5vw;
  font-family: 'Candal', sans-serif;
  color: white;
}

.link {
  position: absolute;
  top: 90vh;
  left: 79.5vw;
  font-size: 1.05vw;
  font-family: 'Candal', sans-serif;
  color: white;
}

.price {
  position: absolute;
  top: 90vh;
  left: 3.5vw;
  font-size: 1.5vw;
  font-family: 'Candal', sans-serif;
  color: white;
}


@media (max-width: 390px) {
	h1{
    position: absolute;
		font-size: 10vw;
		top: 0;
    left: 15vw;
	}

.touroutline {
  position: absolute;
  top: 70.3vh;
  left: 21.5vw;
  font-size: 2.8vw;
  font-family: 'Luckiest Guy', cursive;
  color: black;
}


.tour {
  position: absolute;
  top: 70vh;
  left: 22vw;
  font-size: 2.75vw;
  font-family: 'Luckiest Guy', cursive;
  color: white;
}

.sleepyoutline {
  position: absolute;
  top: 5.3vh;
  left: 12.5vw;
  font-size: 2.03vw;
  font-family: 'Luckiest Guy', cursive;
  color: black;
}

.sleepy {
  position: absolute;
  top: 5vh;
  left: 13vw;
  font-size: 2vw;
  font-family: 'Luckiest Guy', cursive;
  color: white;
}

}


