.backgroundimg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url(sleepyhallow.gif);
  background-size: cover;
  background-position: center;
}


.albumcover {
  position: absolute;
  top: 14vh;
  left: 12vw;
  width: 75vw;
  height: 75vh;
  background-image: url(stillsleep.jpg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.sleepyoutline {
  position: absolute;
  top: 5.3vh;
  left: 12.5vw;
  font-size: 2.53vw;
  font-family: 'Luckiest Guy', cursive;
  color: black;
}

.sleepy {
  position: absolute;
  top: 5vh;
  left: 13vw;
  font-size: 2.5vw;
  font-family: 'Luckiest Guy', cursive;
  color: white;
}

.touroutline {
  position: absolute;
  top: 80.3vh;
  left: 26.5vw;
  font-size: 2.8vw;
  font-family: 'Luckiest Guy', cursive;
  color: black;
}


.tour {
  position: absolute;
  top: 80vh;
  left: 27vw;
  font-size: 2.75vw;
  font-family: 'Luckiest Guy', cursive;
  color: white;
}

.date {
  position: absolute;
  top: 41.5vh;
  left: 3.5vw;
  font-size: 2vw;
  font-family: 'Candal', sans-serif;
  color: white;
}

.locationshadow {
  position: absolute;
  top: 42.25vh;
  left: 71vw;
  font-size: 2.35vw;
  font-family: 'Candal', sans-serif;
  color: black;
}

.location {
  position: absolute;
  top: 38vh;
  left: 71vw;
  font-size: 2vw;
  font-family: 'Candal', sans-serif;
  color: white;
}

.RLshadow {
  position: absolute;
  top: 5vh;
  left: 40vw;
  font-size: 1.5vw;
  font-family: 'Candal', sans-serif;
  color: black;
}

.RL {
  position: absolute;
  top: 5vh;
  left: 40vw;
  font-size: 1.5vw;
  font-family: 'Candal', sans-serif;
  color: white;
}

.linkshadow {
  position: absolute;
  top: 90vh;
  left: 79.5vw;
  font-size: 1.05vw;
  font-family: 'Candal', sans-serif;
  color: black;
}

.link {
  position: absolute;
  top: 90vh;
  left: 79.5vw;
  font-size: 1.05vw;
  font-family: 'Candal', sans-serif;
  color: white;
}

.priceshadow {
  position: absolute;
  top: 90vh;
  left: 3.5vw;
  font-size: 1.5vw;
  font-family: 'Candal', sans-serif;
  color: black;
}


.price {
  position: absolute;
  top: 90vh;
  left: 3.5vw;
  font-size: 1.5vw;
  font-family: 'Candal', sans-serif;
  color: white;
}


@media (max-width: 390px) {


.touroutline {
  position: absolute;
  top: 69.3vh;
  left: 21.5vw;
  font-size: 5.8vw;
  font-family: 'Luckiest Guy', cursive;
  color: black;
}


.tour {
  position: absolute;
  top: 69vh;
  left: 22vw;
  font-size: 5.75vw;
  font-family: 'Luckiest Guy', cursive;
  color: white;
}

.sleepyoutline {
  position: absolute;
  top: 14vh;
  left: 12.5vw;
  font-size: 5.06vw;
  font-family: 'Luckiest Guy', cursive;
  color: black;
}

.sleepy {
  position: absolute;
  top: 13.5vh;
  left: 13vw;
  font-size: 5vw;
  font-family: 'Luckiest Guy', cursive;
  color: white;
}

.locationshadow {
  position: absolute;
  top: 30.3vh;
  left: 11.8vw;
  font-size: 4.47vw;
  font-family: 'Candal', sans-serif;
  color: black;
}


.location {
  position: absolute;
  top: 28vh;
  left: 12vw;
  font-size: 3.75vw;
  font-family: 'Candal', sans-serif;
  color: white;
}

.date {
  position: absolute;
  top: 63vh;
  left: 38vw;
  font-size: 4vw;
  font-family: 'Candal', sans-serif;
  color: white;
  opacity: 0%;
}

.linkshadow {
  position: absolute;
  top: 68.1vh;
  left: 43.4vw;
  font-size: 3.07vw;
  font-family: 'Candal', sans-serif;
  color: black;
}

.link {
  position: absolute;
  top: 68vh;
  left: 44vw;
  font-size: 3.05vw;
  font-family: 'Candal', sans-serif;
  color: white;
}

.RLshadow {
  position: absolute;
  top: 10.15vh;
  left: 23.1vw;
  font-size: 3.95vw;
  font-family: 'Candal', sans-serif;
  color: black;
}

.RL {
  position: absolute;
  top: 10vh;
  left: 23.5vw;
  font-size: 3.9vw;
  font-family: 'Candal', sans-serif;
  color: white;
}

.priceshadow {
  position: absolute;
  top: 86.75vh;
  left: 42.95vw;
  font-size: 5.1vw;
  font-family: 'Candal', sans-serif;
  color: black;
}

.price{
  position: absolute;
  top: 86.5vh;
  left: 43vw;
  font-size: 5vw;
  font-family: 'Candal', sans-serif;
  color: white;
}

.albumcover {
  position: absolute;
  top: 13vh;
  left: 12vw;
  width: 75vw;
  height: 75vh;
  background-image: url(stillsleep.jpg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

}


